<launch>
	<rosparam command="load" file="$(find auv_control)/config/my_params.yaml" />
	<rosparam command="load" file="$(find auv_control)/config/altitude.yaml" />
	<rosparam command="load" file="$(find auv_control)/config/depth.yaml" />
	<rosparam command="load" file="$(find auv_control)/config/yaw_tune.yaml" />

	<node name="IMU_update" pkg="auv_control" type="rowpitchyaw.py"></node>
  <node name="balance_PID" pkg="auv_control" type="balancePID.py"></node>
  <node name="depth_PID" pkg="auv_control" type="depthPID.py"></node>
  <node name="forward_PID" pkg="auv_control" type="forwardPID.py"></node>
  <node name="total_force" pkg="auv_control" type="force_sum.py"></node>
  <node name="countdown" pkg="auv_control" type="countdown.py"></node>
  <node name="depth_simulator" pkg="auv_control" type="get_fake_depth.py"></node>
  <node name="motor_output" pkg="auv_control" type="inter_linear_py.py"></node>
</launch>
